<!-- Modal Menu -->
<div class="modal-dialog modal-menu-dlg" role="document" *ngIf="modalSelect === 'modal-menu'">
    <div class="modal-content modal-menu-content">
        <div class="modal-body scrollbar scrollbar-primary">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item menu-item">
                    <div class="text-center">
                        <img [routerLink]="['/profile']" (click)="closeMenu()" src="{{ 
                            profilePhoto !== undefined?
                            profilePhoto:
                            defaultProfileIcon
                         }}" class="card-img-top moda-menu-img" width="30%" alt="User photo">
                        <a class="menu-lng-btn menu-lng-sr" href="/sr/"
                            [ngClass]="{'menu-lng-btn-active': urlLocation.includes('sr')}">
                            <img src="./assets/flags/serbia-flag-round.png" alt="Serbian flag">
                        </a>
                        <a class="menu-lng-btn menu-lng-en" href="/"
                            [ngClass]="{'menu-lng-btn-active': !urlLocation.includes('sr')}">
                            <img src="./assets/flags/united-kingdom-flag-round.png" alt="United kingdom flag">
                        </a>
                    </div>
                </li>
                <li class="nav-item menu-item" routerLinkActive="active">
                    <a i18n="@@modal_menu-home" class="nav-link" [routerLink]="['/home']" (click)="closeMenu()">
                        <fa-icon class="normal" [icon]="faHome"></fa-icon> Home
                    </a>
                </li>
                <li class="nav-item menu-item" routerLinkActive="active">
                    <a i18n="@@modal_menu-about" class="nav-link" [routerLink]="['/about']" (click)="closeMenu()">
                        <fa-icon class="normal" [icon]="faAddressCard"></fa-icon> About
                    </a>
                </li>
                <li class="nav-item menu-item dropdown" routerLinkActive="active">
                    <a i18n="@@modal_menu-app" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="dropdownShowHide()">
                        <fa-icon class="normal" [icon]="faLaptopCode"></fa-icon>
                        Applications
                    </a>
                    <div class="dropdown-menu dp-menu" aria-labelledby="navbarDropdown">
                        <a i18n="@@modal_menu-fs" class="dropdown-item dp-item" routerLinkActive="router-link-active"
                            [routerLink]="['/applications/four-square']" (click)="dropdownHide(); closeMenu()">
                            <fa-icon class="normal" [icon]="faFoursquare"></fa-icon>
                            FourSquare
                        </a>
                        <a i18n="@@modal_menu-uc" class="dropdown-item dp-item" routerLinkActive="router-link-active"
                            [routerLink]="['/applications/used-cars']" (click)="dropdownHide(); closeMenu()">
                            <fa-icon class="normal" [icon]="faCar"></fa-icon>
                            UsedCars
                        </a>
                    </div>
                </li>
                <li class="nav-item menu-item" routerLinkActive="active">
                    <a i18n="@@modal_menu-contact" class="nav-link" [routerLink]="['/contact']" (click)="closeMenu()">
                        <fa-icon class="normal" [icon]="faComments"></fa-icon> Contact
                    </a>
                </li>
                <li class="nav-item menu-item" routerLinkActive="active">
                    <a i18n="@@modal_menu-profile" class="nav-link" [routerLink]="['/profile']"
                        *ngIf="authService.isLoggedIn" (click)="closeMenu()">
                        <fa-icon class="normal" [icon]="faUser"></fa-icon> Profile
                    </a>
                </li>
                <li class="nav-item menu-item mt-auto" *ngIf="authService.isLoggedIn; else login">
                    <a i18n="@@modal_menu-logout" class="nav-link" (click)="logOut()" (click)="closeMenu()">
                        <fa-icon class="normal" [icon]="faSignOutAlt"></fa-icon> Logout
                    </a>
                </li>
                <ng-template #login>
                    <li class="nav-item menu-item mt-auto">
                        <a i18n="@@modal_menu-login" class="nav-link" [routerLink]="['/login']" (click)="closeMenu()">
                            <fa-icon class="normal" [icon]="faSignInAlt"></fa-icon> Login
                        </a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</div>

<!-- MODALS INFO -->

<div class="modal-dialog modal-info-dlg" role="document" *ngIf="modalSelect === 'modal-info'">
    <!-- Modal Home -->
    <div class="modal-content modal-info-content  modal-info-content-home" *ngIf="modalInfoUrl === '/home'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-home" class="modal-body modal-info-body">
                <h4 class="text-center p-2">Information about project</h4>
                <h6 class="text-left modal-info-text-indent">
                    Whole project was written in Angular Framework version 8 with some extra
                    tools. I tried to use many different possibilities that Angular provides.</h6>
                <h6 class="text-left modal-info-text-indent">
                    For the layout I used Bootstrap framework and Less preprocessor and for the
                    animations I used JQuery framework. You are probably wondering why I didn't
                    use Angular Material and Angular Animations, I was guided by fact that "the
                    fastest / shortest way is the one you know", namely I don't have much experience but I
                    will do my best to perfect it.</h6>
                <h6 class="text-left modal-info-text-indent">
                    Since I don't know the backend programming languages so well, I decided to use
                    the Firebase database and connect it to Angular.
                </h6>
            </div>
        </div>
    </div>
    <!-- Modal About -->
    <div class="modal-content modal-info-content  modal-info-content-about" *ngIf="modalInfoUrl === '/about'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-about" class="modal-body modal-info-body">
                <h4 class="text-center p-2">Information about me</h4>
                <h6 class="text-left modal-info-text-indent">
                    On this channel you can find information about me,
                    my education, jobs I have worked and the knowledge I have.
                    You can also download my CV in Serbian and English.
                </h6>
            </div>
        </div>
    </div>
    <!-- Modal App -->
    <div class="modal-content modal-info-content  modal-info-content-app" *ngIf="modalInfoUrl === '/applications'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-app" class="modal-body modal-info-body">
                <h4 class="text-center p-2">Channel with apps</h4>
                <h6 class="text-left modal-info-text-indent">
                    This channel has the apps I made for this presentation.
                </h6>
                <ul>
                    <li class="text-left">
                        FourSqure app does not need to log in.
                    </li>
                    <li class="text-left">
                        UsedCars app needs to be logged in.
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <!-- Modal FourSquare -->
    <div class="modal-content modal-info-content  modal-info-content-fs"
        *ngIf="modalInfoUrl === '/applications/four-square'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-fs" class="modal-body modal-info-body">
                <h4 class="text-center p-2">FourSquare app</h4>
                <h6 class="text-left modal-info-text-indent">
                    I got the idea for this app when I applied for a job at a Quantox company,
                    I was tasked with setting up an application that would use FourSquare API and google maps.
                    for this task I used JavaScript, JQuery and Ajax tools.
                    since I worked in Angular framework in company Quantox I decided to create
                    one in it using another Here WeGo map.
                </h6>
                <h5 class="text-left p-1">Instructions:</h5>
                <h6 class="text-left">
                    <ol>
                        <li>You need to click the allow button for the app to find your location on the map,</li>
                        <li>Then, in the upper right corner, you should enter the term places you want to find in
                            search, for example a restaurant, coffee, shop, etc and press enter.
                        </li>
                        <li>On the left side you will see list of cards of all places near you up to two kilometers
                            away,
                            and the map will show markers of all places,
                        </li>
                        <li>Clicking on a card in the map will show a marker of that,
                            also clicking on the marker card will place that spot,</li>
                        <li>You can see the address and distance from your location on the card.
                        </li>
                    </ol>
                </h6>
            </div>
        </div>
    </div>
    <!-- Modal UsedCars -->
    <!-- Car Ads -->
    <div class="modal-content modal-info-content  modal-info-content-uc" *ngIf="modalInfoUrl === 'car-ads'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-uc" class="modal-body modal-info-body">
                <h4 class="text-center p-1">UsedCars App</h4>
                <h5 class="text-center p-1">Car Ads</h5>
                <h6 class="text-left modal-info-text-indent">
                    This application was made only for presentation,
                    all information is fabricated. If you want to try it feel free
                    to use arbitrary information. It is an advertising application for
                    used car sales. You can preview and create ads in it, you can only
                    modify or delete your ads. You can also leave a comment on each ad.
                </h6>
                <h6 class="text-left">
                    In this app we have two pages: Car Ads and Create Ad.
                </h6>
                <h5 class="text-left p-1">Instructions for Car Ads page:</h5>
                <h6 class="text-left">
                    <ol>
                        <li>On the left side are listings of ads. If you made an ad, you will have two lists, one with
                            your ads and one with all others. There is also a filter button for filtering
                            ads and Sort By... for sorting ads.</li>
                        <li>Clicking on one ad will open a tab with details about that ad on the right
                            if you have accessed the app on a larger screen or
                            if you are on your mobile phone at the bottom.</li>
                        <li>If you clicked on your ad, the top right of the tab will show two buttons for
                            editing and deleting the ad.</li>
                        <li>That card contains pictures, information and a section where you can read and
                            write a comment.</li>
                        <li>If you click on <fa-icon class="normal" [icon]="faEdit"></fa-icon>
                            (Edit) a new page will open with all your information that you can change.
                        </li>
                    </ol>
                </h6>
            </div>
        </div>
    </div>
    <!-- Create Ad -->
    <div class="modal-content modal-info-content  modal-info-content-uc" *ngIf="modalInfoUrl === 'create-ad'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-uc-createad" class="modal-body modal-info-body">
                <h4 class="text-center p-1">UsedCars App</h4>
                <h5 class="text-center p-1">Create Ad</h5>
                <h6 class="text-left modal-info-text-indent">
                    I have created a few items in the Create Ad page for information to fill,
                    there may be more, but this is enough for presentation.</h6>
                <h5 class="text-left p-1">Instructions for Create Ad page:</h5>
                <h6 class="text-left">
                    <ol>
                        <li>While creating your ad you can add pictures, car information and
                            information about yourself.</li>
                        <li>If your model has an extra mark, click on the arrow to the right of
                            the place for Model (the arrow points to the right) and a place will open
                            where you can enter the mark of your car.
                        </li>
                        <li>Also If Brand or Model of your car is not on the list, click on the arrow
                            between the Brand and the place for Model (the arrow points down)
                            and two new places will open where you can enter the Brand and Model arbitrarily.
                        </li>
                        <li>All fields are required.</li>
                    </ol>
                </h6>
            </div>
        </div>
    </div>
    <!-- Edit Ad -->
    <div class="modal-content modal-info-content  modal-info-content-uc" *ngIf="modalInfoUrl === 'edit-ad'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-uc-edit" class="modal-body modal-info-body">
                <h4 class="text-center p-1">UsedCars App</h4>
                <h5 class="text-center p-1">Edit Ad</h5>
                <h6 class="text-left modal-info-text-indent">
                    In Edit Ad page you can add, change or delete images of your car and
                    change information about your car and yourself.
                </h6>
            </div>
        </div>
    </div>
    <!-- Modal Contact -->
    <div class="modal-content modal-info-content  modal-info-content-contact" *ngIf="modalInfoUrl === '/contact'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-contact" class="modal-body modal-info-body">
                <h4 class="text-center p-1">How can you contact me?</h4>
                <h5 class="text-center p-1">Not Logged in</h5>
                <h6 class="text-left modal-info-text-indent">
                    If you are not logged in you can only contact me via
                    Email, Facebook or LinkedIn.
                </h6>
                <h5 class="text-center p-1">Logged in</h5>
                <h6 class="text-left modal-info-text-indent">
                    If you are logged in you can also contact me via the form,
                    where you will enter a message in the field and click on Send.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    Above the field is a screen where you can see your messages and my responses to your messages.
                    And only you and I can see that conversation.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    As an admin I log in with the admin account and reply to your message.
                </h6>
            </div>
        </div>
    </div>

    <!-- User Modals -->
    <!-- Modal Log In -->
    <div class="modal-content modal-info-content  modal-info-content-login" *ngIf="modalInfoUrl === '/login'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-login" class="modal-body modal-info-body">
                <h4 class="text-center p-1">How to log in?</h4>
                <h5 class="text-center p-1">If you have account</h5>
                <h6 class="text-left modal-info-text-indent">
                    Just enter email and password to theirs fields and click on
                    <span class="loggin-btn">Log In</span> or you can log in with your google account by
                    clicking on <fa-icon class="normal" [icon]="faGoogle"></fa-icon>.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    If you forgot password click on <span class="login-text">Forgot Password</span> and follow the
                    instructions.
                </h6>
                <h5 class="text-center p-1">If you haven't account</h5>
                <h6 class="text-left modal-info-text-indent">
                    Just click on <span class="login-text">Register</span> and follow instructions.
                </h6>
            </div>
        </div>
    </div>
    <!-- Modal Register -->
    <div class="modal-content modal-info-content  modal-info-content-register" *ngIf="modalInfoUrl === '/register'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-tegister" class="modal-body modal-info-body">
                <h4 class="text-center p-1">How to register?</h4>
                <!-- <h5 class="text-center p-1">If you have account</h5> -->
                <h6 class="text-left modal-info-text-indent">
                    Just enter email and password to theirs fields and click on
                    Log In button or you can log in with your google account by
                    clicking on G button.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    If you forgot password click on Forgot Password and follow the
                    instructions.
                </h6>
                <h5 class="text-center p-1">If you haven't account</h5>
                <h6 class="text-left modal-info-text-indent">
                    Just click on Register and follow instructions.
                </h6>
            </div>
        </div>
    </div>
    <!-- Modal Profile -->
    <div class="modal-content modal-info-content  modal-info-content-profile" *ngIf="modalInfoUrl === '/profile'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-profile" class="modal-body modal-info-body">
                <h4 class="text-center p-1">Your Profile</h4>
                <h5 class="text-center p-1">User Profile</h5>
                <h6 class="text-left modal-info-text-indent">
                    Here you can see your profile picture, username and email.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    If you haven't picture or username you can set by clicking on
                    <fa-icon class="normal" [icon]="faUserEdit"></fa-icon>,
                    or if you have you can change.
                </h6>
                <h5 class="text-center p-1">Edit Profile</h5>
                <h6 class="text-left modal-info-text-indent">
                    On Choose file (Browse)
                    field you can select pictures from your device.
                    On button <fa-icon class="normal profile-x" [icon]="faTimes"></fa-icon>
                    near the picture you can delete picture.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    On field username you can set your
                    <span class="profile-username">username</span>, or if was setted
                    you can change.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    When you finish and you sure with changes click on button
                    <fa-icon class="normal" [icon]="faCheck"></fa-icon>,
                    or if you don't want to edit click on
                    <fa-icon class="normal" [icon]="faTimes"></fa-icon>.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    If you are logged in with your provider (Google)
                    you can return your photo clicking on
                    <fa-icon class="normal profile-camera" [icon]="faUndoAlt"></fa-icon>,
                </h6>
            </div>
        </div>
    </div>
    <!-- Modal Forgot Password -->
    <div class="modal-content modal-info-content  modal-info-content-fp" *ngIf="modalInfoUrl === '/forgot-password'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-fp" class="modal-body modal-info-body">
                <h4 class="text-center p-1">If you forgot password</h4>
                <h6 class="text-left modal-info-text-indent">
                    Enter your email and click on <span class="fp-btn">Reset Password</span>.
                </h6>
                <h6 class="text-left modal-info-text-indent">
                    Then check your email inbox and click on link.
                    This will take you to a page where you can enter a
                    new password.
                </h6>
            </div>
        </div>
    </div>
    <!-- Modal Verify Email -->
    <div class="modal-content modal-info-content  modal-info-content-ve" *ngIf="modalInfoUrl === '/verify-email'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-ve" class="modal-body modal-info-body">
                <h4 class="text-center p-1">Verify your email</h4>
                <h6 class="text-left modal-info-text-indent">
                    This help me to know that this email exist and
                    that you are owner of this email.
                </h6>
            </div>
        </div>
    </div>
    <!-- Error Page -->
    <div class="modal-content modal-info-content  modal-info-content-error" *ngIf="modalInfoUrl === '/error'">
        <div class="scrollbar scrollbar-primary">
            <button type="button" class="btn close-info" (click)="closeInfo()">
                <fa-icon class="normal" [icon]="faTimes"></fa-icon>
            </button>
            <div i18n="@@modal_info-error" class="modal-body modal-info-body">
                <h4 class="text-center p-1">Error</h4>
                <h6 class="text-left modal-info-text-indent">
                    The page you were looking for is currently down or does not exist,
                    so please return to home page.
                </h6>
            </div>
        </div>
    </div>
</div>