@about-color      : rgb(0, 0, 53);
@about-color-light: rgb(0, 0, 225);
@about-color-dark: rgb(0, 0, 20);

& .about-container {
    // background   : linear-gradient(to right, @about-color-dark, @about-color, @about-color-dark);
    background: radial-gradient( @about-color, @about-color-dark);
    border-radius: 10px;
    min-height   : 100%;
    color        : #ffffff;
    text-shadow  : 0 2px 10px @about-color-light;
    padding      : 30px 50px 0;
    animation    : colorize 1.75s;

    @keyframes colorize {
        from {
            filter        : grayscale(100%) blur(2px);
            -webkit-filter: grayscale(100%) blur(2px);
        }

        to {
            filter        : grayscale(0%) blur(0px);
            -webkit-filter: grayscale(0%) blur(0px);
        }
    }

    & h2 {
        text-align: center;
    }

    & #about-photo {
        background-image   : url(../../assets/photo.jpg);
        background-position: center;
        background-size    : cover;
        background-repeat  : no-repeat;
        border             : 5px solid white;
        height             : 100%;
        width              : 100%;
        max-height         : 350px;
        min-height         : 350px;
        max-width          : 263px;
        min-width          : 263px;
        border-radius      : 5px;
        box-shadow         : 0 0 10px 0px @about-color-light;
        margin             : 15px auto;
    }

    & ul {
        font-size: 17px;

        & li {
            list-style-type: circle;
        }
    }
}

// Responsive
@media only screen and (max-width: 1024px) {
    & .about-container {
        padding-top: 20px;

        & h2 {
            font-size: 25px;
        }

        & h5 {
            font-size           : 18px;
            padding-inline-start: 30px;
        }

    }
}

@media only screen and (max-width: 990px) {
    & .about-container {
        padding: 10px 15px 0;

        & #about-photo {
            max-height: 320px;
            min-height: 320px;
            max-width : 233px;
            min-width : 233px;
        }

        & ul {
            padding-inline-start: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    & .about-container {
        padding: 10px 15px 0;

        & h2 {
            font-size: 22px;
        }

        & h5 {
            font-size: 17px;
        }

        & ul {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 425px) {
    & .about-container {
        padding: 10px 15px 0;

        & h2 {
            font-size: 20px;
        }

        & h5 {
            font-size: 15px;
        }

        & ul {
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 320px) {
    & .about-container {
        padding: 5px 15px 0;

        & h2 {
            font-size: 18px;
        }

        & h5 {
            font-size: 13px;
        }

        & #about-photo {
            max-height: 300px;
            min-height: 300px;
            max-width : 213px;
            min-width : 213px;
        }
    }
}