<div class="container fp-container">
  <div class="col-lg-5 col-md-7 col-sm-12 ml-auto mr-auto">
    <div class="card fp-card">
      <div class="card-header fp-header">
        <h2 i18n="@@fp-title">Reset Password</h2>
      </div>
      <div class="card-body">
        <div class="input-group mb-3">
          <p i18n="@@fp-text-1">Please enter your email address to request a password reset.</p>
        </div>

        <div class="input-group mb-3">
          <input type="email" class="form-control" 
          i18n-title="@@fp-e_mail-title"
          title="Enter your email"
          i18n-placeholder="@@fp-e_mail-placeh"
          placeholder="Email Address" #passwordResetEmail required>
        </div>

        <div class="input-group mb-3">
          <button i18n="@@fp-btn" type="submit" class="btn fp-btn"
            (click)="authService.forgotPassword(passwordResetEmail.value)">
            Reset Password
          </button>
        </div>

        <div class="input-group mb-3">
          <span i18n="@@fp-text-2">Go back to ? <a class="redirect fp-link-btn" routerLink="/login">Log In</a></span>
        </div>
      </div>
    </div>
  </div>
</div>