@uc-color : rgb(27, 27, 27);

.example-spacer {
    flex: 1 1 auto;
}

.uc-container {
    min-height    : 100%;
    background    : @uc-color;
    border-radius : 10px;
    font-family   : 'Roboto Slab', serif;
    letter-spacing: 0.5px;
    animation    : colorize 1.75s;

    @keyframes colorize {
        from {
            filter        : grayscale(100%) blur(2px);
            -webkit-filter: grayscale(100%) blur(2px);
        }

        to {
            filter        : grayscale(0%) blur(0px);
            -webkit-filter: grayscale(0%) blur(0px);
        }
    }
}