<div class="container home-container">
    <div class="row">
        <div class="col-md-9 text-center ml-auto mr-auto">
            <h2 i18n="@@home-title">Welcome to my Web presentation</h2>
            <div class="home-content">
                <h5 i18n="@@home-text-1">My name is Stefan Đorđević and I am
                    Front end web developer.
                    This project was made as presentation
                    of knowlage that I own and as a project
                    for my CV.
                </h5>
                <h5 i18n="@@home-text-2">Here You can find out more informations
                    about me on channel <a [routerLink]="['/about']" class="home-app-span">About</a>,
                    use some applications that I made on chanel
                    <a [routerLink]="['/applications']" routerLinkActive="router-link-active"
                        class="home-app-span">Applications</a>
                    and You can contact me via
                    form, social networks or email on
                    chanel <a [routerLink]="['/contact']" class="home-app-span">Contact</a>.
                    Some applications requere
                    login, so if you want to try them out,
                    register and enjoy. Registration is free.
                </h5>
                <h5 i18n="@@home-text-3">On this presentation u can see two buttons
                    <span class="home-btn-span">info</span> and
                    <span class="home-btn-span">menu</span> on
                    botom of the screen. By clicking on button
                    <span class="home-btn-span">info</span> you can read
                    informations about chanel you are on,
                    by clicking on button
                    <span class="home-btn-span">menu</span> you can change language
                    and see list of all chanels and you can navigate
                    to them. Also You can go to next or previous
                    chanel by clicking on arrows on bottom.
                </h5>
                <h5>
                </h5>
                <h5 i18n="@@home-text-4">More informations about this project
                    you can read when you click on
                    <span class="home-btn-span">info</span> button.
                </h5>
            </div>
        </div>
    </div>
</div>