@home-color      : rgb(0, 53, 0);
@home-color-light: rgb(0, 225, 0);
@home-color-dark : rgb(0, 20, 000);

& .home-container {
    // background   : linear-gradient(to right, @home-color-dark, @home-color, @home-color-dark;
    background   : radial-gradient(@home-color, @home-color-dark);
    border-radius: 10px;
    min-height   : 100%;
    color        : #ffffff;
    text-shadow  : 0 2px 10px @home-color-light;
    padding      : 30px 50px 0;
    font-weight  : bold;
    text-indent  : 30px;
    animation    : colorize 1.75s;

    & #home-title {
        font-size : 1px;
        margin-top: 25%;
    }

    @keyframes colorize {
        from {
            filter        : grayscale(100%) blur(2px);
            -webkit-filter: grayscale(100%) blur(2px);
        }

        to {
            filter        : grayscale(0%) blur(0px);
            -webkit-filter: grayscale(0%) blur(0px);
        }
    }

    & .home-content {
        text-align: left;

        & .home-app-span {
            color : @home-color-light;
            cursor: pointer;

            &:hover {
                color          : darken(@home-color-light, 20%);
                text-decoration: underline;
            }
        }

        & .home-btn-span {
            box-shadow   : 0 0 5px 0px @home-color-light;
            width        : 53px;
            border-radius: .25rem;
            font-family  : serif;
            font-size    : 1rem;
            padding      : 2px 10px;
        }

        & .home-github {
            color          : white;
            text-decoration: none;

            &:hover {
                color: @home-color-light;
            }
        }
    }

    & .btn-home-skip {
        position       : absolute;
        right          : 30px;
        bottom         : 30px;
        color          : @home-color-light;
        text-shadow    : 0px 0px 10px rgba(225, 225, 225, 1);
        font-size      : 20px;
        letter-spacing : 1px;
        text-decoration: none;

        &:hover {
            color      : white;
            text-shadow: 0px 0px 10px @home-color-light;
        }
    }
}

// Responsive
@media only screen and (max-width: 1024px) {
    & .home-container {
        padding-top: 20px;

        & h5 {
            font-size: 18px;
        }

        & .btn-home-skip {
            right         : 15px;
            bottom        : 15px;
            font-size     : 18px;
            letter-spacing: 1px;
        }
    }
}

@media only screen and (max-width: 768px) {
    & .home-container {
        padding: 10px 15px 0;

        & #home-title {
            margin-top: 30%;
        }

        & h5 {
            font-size: 17px;
        }
    }
}

@media only screen and (max-width: 425px) {
    & .home-container {
        padding    : 10px 15px 0;
        text-indent: 20px;

        & #home-title {
            margin-top: 50%;
        }

        & .home-content {
            text-align: start;


            & h5 {
                font-size: 15px;
            }

            & .home-btn-span {
                box-shadow: 0 0 3px 0px @home-color-light;
                padding   : 1px 5px;
                font-size : .9rem;
            }
        }

        & .btn-home-skip {
            right          : 0px;
            bottom         : 0px;
        }
    }
}

@media only screen and (max-width: 375px) {
    & .home-container {
        padding: 5px 15px 0;

        & h5 {
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 320px) {
    & .home-container {
        padding: 5px 15px 0;

        & h5 {
            font-size: 12px;
        }
    }
}