<div class="container home-container">
    <div class="row">
        <div class="col-md-10 text-center ml-auto mr-auto">
            <h1 id="home-title" i18n="@@home-title">Welcome to my Web presentation</h1>
            <div class="home-content">
                <h5 i18n="@@home-text-1" id="txt1">My name is Stefan Đorđević and I am
                    Front end web developer.
                    This project was made as presentation
                    of knowledge that I own and as a project
                    for my CV.
                </h5>
                <h5 i18n="@@home-text-2" id="txt2">Here You can find out more information
                    about me on channel <a [routerLink]="['/about']" class="home-app-span">About</a>,
                    use some applications that I made on channel
                    <a [routerLink]="['/applications']" class="home-app-span">Applications</a>
                    and You can contact me via
                    form, social networks or email on
                    channel <a [routerLink]="['/contact']" class="home-app-span">Contact</a>.
                    Some applications need
                    login, so if you want to try them out,
                    register and enjoy. Registration is free.
                </h5>
                <h5 i18n="@@home-text-3" id="txt3">On this presentation u can see two buttons
                    <span class="home-btn-span">info</span> and
                    <span class="home-btn-span">menu</span> on
                    bottom of the screen. By clicking on button
                    <span class="home-btn-span">info</span> you can read
                    information about channel you are on,
                    by clicking on button
                    <span class="home-btn-span">menu</span> you can change language
                    and see list of all channels and you can navigate
                    to them. Also You can go to next or previous
                    channel by clicking on arrows on bottom.
                </h5>
                <h5>
                </h5>
                <h5 i18n="@@home-text-4" id="txt4">More information about this project
                    you can read when you click on
                    <span class="home-btn-span">info</span> button. You can see whole
                    code when you click on this cat <a class="home-github" target="_blank"
                        href="https://github.com/stedjor/Stefan-Djordjevic-portfolio">
                        <fa-icon class="normal" [icon]="faGithub"></fa-icon>
                    </a>.
                </h5>

                <h5 id="textWriter1">{{textWriting1}}</h5>
                <h5 id="textWriter2">{{textWriting2}}</h5>
                <h5 id="textWriter3">{{textWriting3}}</h5>
                <h5 id="textWriter4">{{textWriting4}}</h5>
            </div>
        </div>
    </div>
    <button class="btn btn-link btn-home-skip" (click)="endTypeWriter()" title="Skip Animation" *ngIf="twAnimation">
        <fa-icon class="normal" [icon]="faStepForward"></fa-icon>
    </button>
</div>